.example-stretched-tabs {
    max-width: 500px;
    margin: auto;
    margin-top: 5%;
}

.autorization-form {
    display: flex;
    flex-direction: column;
}

.autorization-form>* {
    width: 90%;
    margin: auto;
}

.CardIsRegistr {
    background: #00E676;
    color: whitesmoke;
    font-weight: 500
}

.passHide {
    cursor: pointer;
}

.buttRegistration {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tab-icon {
    margin-right: 5px;
}