.PanelButton {
    margin-left: 6px;
}

.PanelButtonEdit {
    background: orange;
}

.PanelButtonAdd {
    background: rgb(0, 196, 0);
}

.card_theme_table {
    margin-top: 20px;
    /* padding: 0; */
}

.cardTool {
    padding: 7px 15px;
}