<mat-card class="cardTool" style="border-radius: 0px; background:#ECECEC">
    <mat-card-header>
        <h5 style="margin-bottom: 0; margin-top:7px">Історія</h5>
        <div class="flex-spacer" style="flex: 1 1 auto"></div>
        <button class="PanelButton PanelButtonAdd" mat-mini-fab color="primary"><i class="material-icons">add</i></button>
        <button class="PanelButton PanelButtonEdit" mat-mini-fab color="primary"><i class="material-icons">create</i></button>
        <button class="PanelButton PanelButtonRemove" mat-mini-fab color="warn"><i class="material-icons">clear</i></button>
    </mat-card-header>
</mat-card>