<mat-card style="margin-top: 20px">
    <mat-card-header>Відповіді</mat-card-header>
    <mat-card-content>
        <mat-form-field style="width:100%">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Фільтр">
        </mat-form-field>
        <table mat-table [dataSource]='DataSource' class="mat-elevation-z8">
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Ім'я </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="f_right">
                <th mat-header-cell *matHeaderCellDef>Вірність</th>
                <td mat-cell *matCellDef="let element"> {{element.f_right? 'Вірно': 'Не вірно'}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr class="RowHover" [ngClass]="{'f_rightTrue': row.f_right==true, 'f_rightFalse': row.f_right==false, 'selectRow': row==selectedAnswer, '!f_rightTrue': row==selectedAnswer}" (click)="selectAnswer(row)" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        <mat-card>
            <mat-card-header>Додати/редагувати</mat-card-header>
            <mat-card-content>
                <form [formGroup]="addEditAnswerForm">
                    <mat-form-field style="width: 100%">
                        <input formControlName="name" matInput placeholder="Ім'я" required>
                    </mat-form-field>
                    <mat-form-field style="width: 100%">
                        <mat-label>Вірність</mat-label>
                        <mat-select formControlName="istruef">
                            <mat-option [value]="true">Вірно</mat-option>
                            <mat-option [value]="false">Не вірно</mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
                <button (click)="addAnswer()" class="toolAnswButton" mat-raised-button color="primary">Додати</button>
                <button (click)="editAnswer()" class="toolAnswButton" mat-raised-button color="accent">Редагувати</button>
                <button (click)="clearForm()" class="toolAnswButton" mat-raised-button color="warn">Видалити</button>
            </mat-card-content>
        </mat-card>

    </mat-card-content>
</mat-card>