.main_card_study {
    margin-top: 20px;
}

.mtItem {
    height: auto;
    border: 1px solid rgb(214, 214, 214);
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.mtList :hover {
    background: rgb(238, 238, 238)
}

.starItem {
    float: left;
    display: block
}

.starItemImg {
    width: 24px;
}