<div class="container" style="margin-top:20px">


    <mat-card>
        <mat-card-header>
            <mat-card-title>Про сервіс</mat-card-title>
            <mat-card-subtitle>Дорогі автомобілісти!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content style="padding: 0 15px">
            <p>
                Як ніколи раніше країна потребує підвищення безпеки та зменшенні смертності на дорогах. Запорукою впевнених змін можуть бути тільки якісно нові методики навчання та контролю отриманих знань. Тому з 2017-го року в Україні почали діяти нові правила здачі
                іспитів для отримання водійського посвідчення. Оцінка результатів навчання майбутніх автомобілістів буде здійснюватися в сервісних центрах. Нові екзаменаційні питання, принципово відрізняються від тих, що зжили себе квитків, адаптовані
                до сучасних реалій, зрозумілі і логічні. А підготуватися до успішної здачі іспитів за новою системою покликаний наш сервіс.
            </p>
        </mat-card-content>
    </mat-card>
</div>